@model Feedback


<form asp-action="Index" method="post" class="form-horizontal" role="form" style="margin-top:70px">

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Message" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <textarea asp-for="Message" class="form-control"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox" style="margin-top:10px">
            <label asp-for="ContactMe" class="col-md-offset-2">
                <input asp-for="ContactMe"  />
                Contact me?
            </label>
        </div>
       
    </div>
    <div class="form-group">
        <div class="col-md-offset-2">
            <input type="submit" class="btn btn-primary" value="Send feedback" />
        </div>
    </div>
</form>